<div class="user-profile">
  <h1>Welcome, <%= @user.name %>!</h1>

  <div class="user-details">
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Spotify ID:</strong> <%= @user.spotify_id %></p>
    <p><strong>Current Track:</strong> <%= @current_track %></p>
  </div>

  <div class="playlists">
    <h2>Playlists</h2>
    <ul>
      <% @playlists.each do |playlist| %>
        <li><%= playlist.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="tracks">
    <h2>Tracks</h2>
    <ul>
      <% @tracks.each do |track| %>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
  </div>
</div>
